.card {
  border-bottom: 1px solid #ccc;
  position: relative;
}
.card__actions {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  margin-top: 10px;
}
.card__actions span {
  flex-grow: 1;
  text-align: center;
  margin: 5px;
}
.card__actions svg {
  width: 15px !important;
  height: 15px !important;
  color: lightgrey !important;
}
