.card {
  border-bottom: 1px solid #ccc;
  position: relative;
  padding: 0;
}
.card__head {
  display: inline-flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}
.card__votes {
  display: inline-block;
  font-size: 14px;
  font-family: monospace;
  margin-left: 10px;
  color: #999;
}
.card__actions {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  padding: 5px 0;
}
.card__actions span {
  flex-grow: 1;
  text-align: center;
  margin: 5px;
}
.card__actions svg {
  width: 15px !important;
  height: 15px !important;
  color: lightgrey !important;
}
