.column-container {
  background-color: #e7e7e7 !important;
}

.column {
  padding-top:0;
  min-width: 300px;
}

.column__card-list {
  padding-top:0;
  margin: 8px 8px 20px;
}

.column__close {
  cursor: pointer;
}

.column__selected-indicator {
  position: absolute;
  top: -25px;
}
