.column-container {
  background-color: #e7e7e7 !important;
}

.column {
  padding-top: 0;
  min-width: 300px;
}

.column__card-list {
  padding-top: 0;
  margin: 8px 8px 20px;
}

.column__close {
  cursor: pointer;
}

.column__selected-indicator {
  position: absolute;
  top: -25px;
}

@keyframes pulse {
  from {
    background-color: rgba(0, 189, 212, 0);
  }
  to {
    background-color: rgba(0, 189, 212, 0.4);
  }
}

.column .canDrop {
  animation-duration: 0.5s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.column .canDrop.isOver {
  background-color: rgba(0, 189, 212, 1);
  animation: unset;
}
