.homepage-container {
  /* ref: http://www.designbolts.com/2012/11/26/25-free-simple-black-seamless-patterns-for-website-backgrounds/ */
  background: url('../assets/black_scales.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height:100vh;
  width:100wh;
 }

.homepage-title {
  font-family: "Sheeping-Dogs";
  font-size: 60px;
  text-align: center;
}

.logo {
  max-height: 40%;
  animation-iteration-count: infinite;
  animation: slidein 1s cubic-bezier(0, 0, 0.35, 1);
  animation-iteration-count:1;
  animation-direction: alternate;
}

.create-board {
  width: 90%;
  max-width: 400px;
  margin: 0 30px;
}

@keyframes slidein {
   0% { transform: translateY(-900px); }
   100% { transform: translateY(0px); }
}



