.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
  width:100wh;
 }
 
.homepage-container * {
  margin-bottom: 20px;
}

.homepage-title {
  font-family: "Sheeping-Dogs";
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
  padding: 10px 10px 0;
}

.homepage-description {
  margin-bottom: 30px;
  font-size: 1.1rem;
}
.logo-container {
  margin: 0 auto;
  width: 270px;
}
.logo {
  /*
  animation-iteration-count: infinite;
  animation: slidein 1s cubic-bezier(0, 0, 0.35, 1);
  animation-iteration-count:1;
  animation-direction: alternate;
  */
}

.create-board {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  margin: 0 30px;
}

@keyframes slidein {
   0% { transform: translateY(-900px); }
   100% { transform: translateY(0px); }
}
